# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Object files
*.o

# Executables
applications/client
applications/client_msg
applications/client_sbr
applications/client_select
applications/client_simple
applications/client_write
applications/fcntl_ex
applications/server
applications/server_close
applications/server_msg
applications/server_poll
applications/server_poll_multi
applications/server_read
applications/server_sbr
applications/server_select
applications/server_simple
applications/test_restore
applications/clientPourMulti
applications/client_2
applications/client_write_asym
applications/fork2
applications/poll
applications/read_write
applications/serverMulti
applications/serverMultiClients
applications/server_2
applications/server_read_asym
applications/test

simterpose
ptrace_temps/svg
ptrace_temps/temps
ptrace_temps/timetravel

Testing/
perf.data

LogDebug*
*.tar.gz
*~
*.so
opentracker/
Uprobes/
LD_PRELOAD/
addressVsFull/
tests/Testing/
torrents/

*#
.project
.cproject
.settings

#autres
.#journal.org
.mylogfile_addresstranslation.txt.swp
BitTornado-CVS/
applications/bittorrent.sh
applications/client.sh
applications/clientM
applications/clientM.c
applications/differentsLogs
applications/seeder.sh
applications/serverM
applications/serverM.c
applications/tracker.sh
applications/ubuntu-14.04-desktop-amd64.iso
applications/ubuntu.torrent
ctorrent-dnh3.3.2/
deployM.xml
deploy_bittorrent.xml
deploy_simple_from_to.xml
indent
lance_clientserver.sh
launcher
ptrace
ptrace.c
ptrace_temps/gmon.out
ptrace_temps/old/
ptrace_temps/perf.data.old
ptrace_temps/ptrace.c
runM.sh
run_from.sh
run_rw.sh
run_trace
scp-tsunami-read-only/
simgrid/
taches.org
tests/AddTests.cmake
ubuntu-14.04-desktop-amd64.iso
ubuntu.torrent
ubuntu.torrent.bf
uprobes.org
wireshark/
