# Object files
*.o

# Executables
applications/client
applications/client_msg
applications/client_sbr
applications/client_select
applications/client_simple
applications/client_write
applications/fcntl_ex
applications/server
applications/server_close
applications/server_msg
applications/server_poll
applications/server_poll_multi
applications/server_read
applications/server_sbr
applications/server_select
applications/server_simple
applications/test_restore
applications/clientPourMulti
applications/client_2
applications/client_write_asym
applications/fork2
applications/poll
applications/read_write
applications/serverMulti
applications/serverMultiClients
applications/server_2
applications/server_read_asym
applications/test

simterpose
ptrace_temps/svg
ptrace_temps/temps
ptrace_temps/timetravel

Testing/
perf.data

LogDebug*
*.tar.gz
*~
*.so
opentracker/
Uprobes/
LD_PRELOAD/
addressVsFull/
tests/Testing/
torrents/
